body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0687f170;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #914343b0;
}

button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0a070746;
}

button:hover {
    background-color: #cccbcb;
}

#result {
    grid-column: 1 / -1;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    border: 1px solid #8a5959;
    border-radius: 5px;
    background-color: #1c9e10;
}